.callOuts{
	border: 1px solid #d7d8da;
}
.callOuts img{
	height: 150px;
	width: 200px;
}
.logo{
	width: auto;
	height: 150px;
}
.carousel-item img{
    height:300px;
}

.form-control {
    font-size: 0.7rem!important;
}

input{
	height: 1.2rem!important;
}

